@import "./pages/nav";
@import "./pages/wall";
@import "./pages/login";
@import "./pages/user";
@import "./pages/postCreate";
@import "card";
.form-select,.card,.form-control{
    border: $border-style;
}
.form-select,.form-control{
    line-height: 2.0;
}
.dropdown-menu.postCard.show{
    transform: translate3d(-85%, 30px, 0px)!important;
}
.dotSpinner{
    height: 1rem;
    width: 1rem;
}